<form method="post" action="{{ path('app_accommodation_delete', {'id': accommodation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ accommodation.id) }}">
    <button class="btn">Delete</button>
</form>
