{% extends 'base.html.twig' %}

{% block title %}Edit Accommodation{% endblock %}

{% block body %}
    <h1>Edit Accommodation</h1>

    {{ include('accommodation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_accommodation_index') }}">back to list</a>

    {{ include('accommodation/_delete_form.html.twig') }}
{% endblock %}
