{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-success">
            the accommodation {{ accommodation.id }} : {{ accommodation.name }}  has been successfully added!
        </div>
        <a href="{{ path('accommodation_list_all') }}"  class="btn btn-primary">Accommodation List</a>
    </div>

{% endblock %}

{% block title %}
AddAccommodation
{% endblock %}

