*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;
    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi-reg: 600;
    --fw-bold: 900;
    --menu-width: 230px;
    --clr-light: #fefefe;
    --clr-dark: #0081c9;
    --clr-accent: #ffc93c;
    --clr-dark2: #5bc0f8;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 0.85rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}


@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 0.95rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

a, a:hover, a:focus {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background-color: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    border: none;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/*typography*/
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: 0.25rem;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
    color: var(--clr-light);
    font-size: 8rem;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: 0.25em 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*header*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    position: relative;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 60px;
}

.logo {
    max-width: 150px;
    margin-right: 50px;
}

.logo:hover {
    cursor: pointer;
}

.nav__list {
    display: flex;
    list-style: none;
    height: 100%;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    max-width: 600px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: 800;
    font-size: var(--fs-body);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.last_nav_item {
    position: absolute;
    right: 20px;
}

.login--btn {
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    color: var(--clr-dark);
}

/* Intro section */

.intro {
    position: relative;
    background-image: url(../img/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 60px);
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
    margin-right: 60px;
}

.explore--btn {
    background-color: var(--clr-accent);
    font-family: var(--ff-primary);
    border: none;
    color: var(--clr-dark);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.exploreButton {
    margin: 150px auto;
    max-width: 250px;
}
.exploreButton2 {
    width: 150px;

    margin: 10px;
}

.explore--btn:hover {
    background-color: #4caf50;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

.explore--btn:active {
    box-shadow: none;
    transform: translateY(0px);
}

/* our services */

.our-services {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.service__item {
    background: var(--clr-accent);
    overflow: hidden;
    color: var(--clr-dark);
}

.service__img {
    transition: transform 750ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 250ms linear;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.service__item:focus {
    position: relative;
    z-index: 2;
}

.service__img:hover,
.service__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.75;
}

.service__item > i {
    font-size: var(--fs-h2);
    margin-bottom: 30px;
}
.service__description {
    padding: 40px 50px;
}

.service__description > p {
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
}

marquee {
    color: var(--clr-dark2);
    position: absolute;
    bottom: 0;
    background-color: var(--clr-accent);
    margin: 0;
    padding: 5px;
    height: 40px;
    border: none;
}

/* Parallax */
.parallax--container {
    background-color: var(--clr-dark2);
    margin: 0;
    padding: 0;
}

.parallax--container .title {
    color: var(--clr-light);
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}
.parallax--container .title h1 {
    font-size: 35px;
    letter-spacing: 8px;
}

.parallax--container .block {
    background: var(--clr-accent);
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
}

.parallax--container .parallax-one {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../img/parallax1.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.parallax--container .parallax-two {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../img/parallax2.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.parallax--container .parallax-three {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 70px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../img/parallax3.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 959px) and (min-width: 768px) {
    .parallax--container .block {
        padding: 40px;
        width: 620px;
    }
}
@media screen and (max-width: 767px) {
    .parallax--container .block {
        padding: 30px;
        width: 420px;
    }
    .parallax--container h2 {
        font-size: 30px;
    }
    .parallax--container .block {
        padding: 30px;
    }
    .parallax--container .parallax {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 479px) {
    .parallax--container .block {
        padding: 30px 15px;
        width: 290px;
    }
}

/* footer */

.footer {

    position: relative;
    text-align: center;
    background: var(--clr-accent);
    color: var(--clr-dark);
}

.inner-footer {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 7rem 0 0 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gentle-wave {
    stroke: var(--clr-dark2);
    fill: var(--clr-dark);
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -30px;
    min-height: 100px;
    max-height: 150px;
}

.footer--content {
    position: relative;
    height: 20vh;
    text-align: center;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding-top: 20px;
    border: none;
}

/* Animation */

.wave--animation > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.wave--animation > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.wave--animation > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.wave--animation > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.wave--animation > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

.separator::before {
    content: "\2022";
    font-size: 2em;
    vertical-align: middle;
    padding: 0 0.5em;
}

/* button come-back */
.comeback--btn {
    position: fixed;
    margin: 0;
    right: 20px;
    bottom: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 20px;
}

.hidden--class {
    display: none;
}

/* LOGIN PAGE */

#sw-js-blob-svg1 {
    position: fixed;
    top: -10vh;
    left: -40vw;
    z-index: -100;
    height: 200vh;
}

#sw-js-blob-svg2 {
    position: fixed;
    bottom: -10vh;
    right: -30vw;
    z-index: -99;
    height: 200vh;
}

.login--page {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 calc(50% - 500px);
}

.login--container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 70px auto;
    width: 1000px;
    height: 600px;
    background: rgba(0, 129, 201, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    border-radius: 10px;
    border: 1px solid var(--clr-dark);
}

.login--img {
    width: 50%;
    padding: 0;
    overflow: hidden;
}

.login--img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-container {
    width: 50%;
    padding: 2rem;
    color: var(--clr-light);
    font-family: var(--ff-primary);
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 800;
    font-family: inherit;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: inherit;
}

.input-group label {
    display: block;
    color: var(--clr-light);
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: var(--fw-semi-reg);
    font-size: var(--fs-body);
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 5px solid var(--clr-dark2);
    outline: 0;
    background-color: var(--clr-dark2);
    padding: 0.75rem 1rem;
    font-size: var(--fs-body);
    font-weight: var(--fw-semi-reg);
    color: var(--clr-light);
    font-family: inherit;
}

.input-group input:focus {
    border-color: var(--clr-accent);
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--clr-light);
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
}

.social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
}

.sign--btn {
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    margin: 40px auto 0;
}

@media (max-width: 1100px) {
    .login--img {
        display: none;
    }

    .login--container {
        width: 400px;
    }

    .login--page {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 calc(50% - 200px);
    }

    .form-container {
        width: 100%;
    }
}


/* Dropdown button */

.dropdown {
    position: relative;
    perspective: 200px;
}

.dropdown > button {
    transition: 0.3s;
}

.dropdown.open > button {
    background: rgba(0, 0, 0, 0.175);
}

.dropdown.open .menu {
    opacity: 1;
    transform: rotateX(0);
    visibility: visible;
}

.dropdown button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    width: 230px;
    height: 72px;
    color: #f9f9f9;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--ff-primary);
}

.menu {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 72px;
    left: 0;
    width: 100%;
    height: 168px;
    opacity: 0;
    transform-origin: 50% 0;
    transform: rotateX(-90deg);
    visibility: hidden;
    background: var(--clr-dark);
    transition: 0.4s;
}

.main-menu {
    width: var(--menu-width);
}

.main-menu a {
    width: var(--menu-width);
    max-height: 40px;
}
.menu-inner {
    position: absolute;
    width: var(--menu-width);
    display: flex;
    transition: 0.3s;
}


.menu button {
    border: 0;
    width: 100%; height: 56px;
    border-radius: 0;
}

.menu button:hover {
    background: var(--clr-dark2);
}

.sub-menu {
    display: none;
    width: var(--menu-width);
}

.sub-menu.open {
    display: block;
}