<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhereToLive</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3E1wPGZF5_M8ydObm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="calender/cal.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <link rel="stylesheet" href="styles2.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<header>
    <div class="logo">
        <img src="img/logo2.png" />
    </div>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
            <li class="nav__item">
                <a href="#services" class="nav__link">Services</a>
            </li>
            <li class="nav__item">
                <a href="#about" class="nav__link">About us</a>
            </li>
            <li class="nav__item">
                <a href="login.html"><button class="login--btn btn">LOGIN</button></a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="bg">

        <section id="cart">
            <h1 class="section__title section__title--intro animate__animated animate__fadeInLeft">
                <strong>TUNISIA</strong>
            </h1>
        </section>
        <div class="category-block2">
            <div class="text-container sectionTitle">
                <p>Please Choose Your Accomodation</p>

            </div>
            <label for="location">Location:</label>
            <select name="location" id="location">
                <option value="all">All Locations</option>
                <option value="Tunis">Tunis</option>
                <option value="Bizerte">Bizerte</option>
                <option value="Sousse">Sousse</option>
                <option value="Hammamet">Hammamet</option>
            </select>
        </div>
        <!-- loula -->
        <div class="category-block" id="to-live">

            <div class="card-container">

                <div class="card" data-location ="Tunis">
                    <img class="img-card" src="img/hotels/elmouradidouz.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>ElMouradi</h3>
                        <p>Address: Tunis</p>
                        <p>Phone: </p>
                        <span class="card-price">$200 per night</span>
                        <button class="login--btn btn">More </button>
                        <a href="login.html" class="login--btn btn">Add </a>

                    </div>
                </div>
                <div class="card" data-location="Hammamet">
                    <img class="img-card" src="img/hotels/royalazurehammamet.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>RoyalAzur</h3>
                        <p>Address: Hammamet</p>
                        <p>Phone: </p>
                        <span class="card-price">$300 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>

                    </div>
                </div>
                <div class="card" data-location="Bizerte">
                    <img class="img-card" src="img/maison d'hote/Chalets-Kef-Abbed-Bizerte-03.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>ChaletsKefAbbed</h3>
                        <p>Address: Bizete</p>
                        <p>Phone: </p>
                        <span class="card-price">$300 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>

                    </div>
                </div>
                <div class="card" data-location="Sousse">
                    <img class="img-card" src="img/hotels/soussePearlMarriott.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>PearlMarriott</h3>
                        <p>Address: Sousse</p>
                        <p>Phone: </p>
                        <span class="card-price">$400 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>

                    </div>
                </div>
                <div class="card" data-location ="Tunis">
                    <img class="img-card" src="img/hotels/elmouradidouz.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>ElMouradi</h3>
                        <p>Address: Tunis</p>
                        <p>Phone: </p>
                        <span class="card-price">$200 per night</span>
                        <button class="login--btn btn">More </button>
                        <a href="login.html" class="login--btn btn">Add </a>

                    </div>
                </div>
                <div class="card" data-location="Hammamet">
                    <img class="img-card" src="img/hotels/royalazurehammamet.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>RoyalAzur</h3>
                        <p>Address: Hammamet</p>
                        <p>Phone: </p>
                        <span class="card-price">$300 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>

                    </div>
                </div>
                <div class="card" data-location="Bizerte">
                    <img class="img-card" src="img/maison d'hote/Chalets-Kef-Abbed-Bizerte-03.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>ChaletsKefAbbed</h3>
                        <p>Address: Bizete</p>
                        <p>Phone: </p>
                        <span class="card-price">$300 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>

                    </div>
                </div>
                <div class="card" data-location="Sousse">
                    <img class="img-card" src="img/hotels/soussePearlMarriott.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>PearlMarriott</h3>
                        <p>Address: Sousse</p>
                        <p>Phone: </p>
                        <span class="card-price">$400 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>

                    </div>
                </div>
                <div class="card" data-location="Bizerte">
                    <img class="img-card" src="img/maison d'hote/Chalets-Kef-Abbed-Bizerte-03.jpg" width="100%" height="100%" alt="Card image">
                    <div class="textBox">
                        <h3>ChaletsKefAbbed</h3>
                        <p>Address: Bizete</p>
                        <p>Phone: </p>
                        <span class="card-price">$300 per night</span>
                        <button class="login--btn btn">More </button>
                        <button class="login--btn btn">Add </button>
                    </div>
                </div>



            </div>
</main>

<footer>
    <!-- Your website footer here -->
</footer>

<!-- Add any necessary JavaScript here -->
<script src="filter.js"></script>

</body>


</html>